<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="connexionString" 
         providerName="System.Data.SqlClient" 
         connectionString="server=localhost;database=TD_ADO;user id=sa;password=Pa$$w0rd"/>
  </connectionStrings>
</configuration>